@keyframes shrink {
    0% {
        transform: translate(-50%, -50%) scale(10); /* Start normal size */
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5); /* End at 5x scale */
    }
}

@keyframes fall-down {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(0px, 30px);
    }
}


@keyframes rise-up {
    0% {
        opacity: 0.2;
        transform: translate(0px, 0px);
        color: rgb(255, 0, 0);
        scale: 10;
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
        scale: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes bigModeAppear {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes littleModeAppear {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.reverseAnim
{
    animation-direction: reverse;
}

@keyframes noise-before {
    0% {clip: rect(41px, 9999px, 12px, 0);}
    5% {clip: rect(13px, 9999px, 64px, 0);}
    10% {clip: rect(101px, 9999px, 105px, 0);}
    15% {clip: rect(70px, 9999px, 122px, 0);}
    20% {clip: rect(42px, 9999px, 97px, 0);}
    25% {clip: rect(14px, 9999px, 32px, 0);}
    30% {clip: rect(127px, 9999px, 169px, 0);}
    35% {clip: rect(79px, 9999px, 53px, 0);}
    40% {clip: rect(168px, 9999px, 132px, 0);}
    45% {clip: rect(134px, 9999px, 94px, 0);}
    50% {clip: rect(43px, 9999px, 27px, 0);}
    55% {clip: rect(141px, 9999px, 137px, 0);}
    60% {clip: rect(89px, 9999px, 135px, 0);}
    65% {clip: rect(137px, 9999px, 178px, 0);}
    70% {clip: rect(153px, 9999px, 141px, 0);}
    75% {clip: rect(42px, 9999px, 60px, 0);}
    80% {clip: rect(4px, 9999px, 53px, 0);}
    85% {clip: rect(118px, 9999px, 80px, 0);}
    90% {clip: rect(59px, 9999px, 106px, 0);}
    95% {clip: rect(5px, 9999px, 24px, 0);}
    100% {clip: rect(153px, 9999px, 156px, 0);}
}

@keyframes noise-after {
    0% {clip: rect(6px, 9999px, 23px, 0);}
    5% {clip: rect(120px, 9999px, 188px, 0);}
    10% {clip: rect(164px, 9999px, 129px, 0);}
    15% {clip: rect(101px, 9999px, 76px, 0);}
    20% {clip: rect(161px, 9999px, 149px, 0);}
    25% {clip: rect(134px, 9999px, 123px, 0);}
    30% {clip: rect(114px, 9999px, 159px, 0);}
    35% {clip: rect(6px, 9999px, 77px, 0);}
    40% {clip: rect(127px, 9999px, 127px, 0);}
    45% {clip: rect(11px, 9999px, 42px, 0);}
    50% {clip: rect(171px, 9999px, 129px, 0);}
    55% {clip: rect(54px, 9999px, 44px, 0);}
    60% {clip: rect(125px, 9999px, 95px, 0);}
    65% {clip: rect(133px, 9999px, 188px, 0);}
    70% {clip: rect(79px, 9999px, 126px, 0);}
    75% {clip: rect(138px, 9999px, 182px, 0);}
    80% {clip: rect(0px, 9999px, 33px, 0);}
    85% {clip: rect(105px, 9999px, 88px, 0);}
    90% {clip: rect(101px, 9999px, 144px, 0);}
    95% {clip: rect(136px, 9999px, 114px, 0);}
    100% {clip: rect(47px, 9999px, 112px, 0);}
}

@keyframes grow {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
