#pressPlayDiv
{
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#pressplay {
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 4vw;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

#play {
    line-height: 0.7;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 7vw;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

.glitch:before {
    transform: translate(25%, 0%);
    content: attr(data-glitch);
    position: absolute;
    left: -2px;
    width: fit-content;
    height: fit-content;
    font-size: 8vw;
    background-color: #002907;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(0, 253, 232, 0.774), 
    -2px 2px 2px rgba(255, 0, 221, 0.8), 
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-before 0.5s infinite linear alternate-reverse;
 }
 
 .glitch:after {
    transform: translate(25%, 0%);
    content: attr(data-glitch);
    position: absolute;
    left: 2px;
    width: fit-content;
    height: fit-content;
    font-size: 9vw;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(17, 0, 253, 0.774), 
    -2px 2px 2px rgba(255, 0, 255, 0.8),   
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-after 0.5s infinite linear alternate-reverse;
 }

#scores
{
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px rgb(255, 238, 0);
}

#timer
{
    font-size: clamp(1rem, 2vw + 1.5rem, 6vw);
    margin: 0 -0.5rem -0.5rem -0.5rem;
    box-shadow: 0 0 25px rgb(255, 238, 0);
}

#scorediv
{
    display: flex;
    gap: 3vw;
    flex-direction: row;
    box-shadow: 0 0 25px rgb(255, 238, 0);
}

#score-left, #score-right{
    color: white;
    font-size: clamp(1rem, 1vw + 1.5rem, 6vw);

}

#playername-left, #playername-right {
    color: white;
    font-size: clamp(1rem, 1vw + 1.5rem, 6vw);
}

.fall-down {
    animation: fall-down 0.5s forwards;
}

.rise-up
{
    animation: rise-up 0.5s forwards;
}

.fade {
    opacity: 0;
    animation: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-active {
    animation: fade 2s forwards;
}

#loading
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

#controlsLeft, #controlsRight
{
    display: none;
    position: absolute;
    bottom: 16px;
    width: 20vw;
    max-width: 12rem;
    flex-direction: row;
    gap: 64px;
}

#controlsLeft
{
    left: 1rem;
}

#controlsRight
{
    right: 1rem;
}

#controlsP1LocalImg, #controlsP2LocalImg, #controlsAdventureImg {
    bottom: 16px;
    z-index: 1;
    width: 20vw;
    max-width: 12rem;
}

#controlsP1LocalImg, #controlsAdventureImg {
    display: none;
}

#controlsP2LocalImg
{
    display: block;
}

#boostBarUILeft, #boostBarUIRight
{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: 24px;
    transition: box-shadow 0.5s;
    transform: translateY(-200%);
}

#boostBarUILeft.ready, #boostBarUIRight.ready
{
    box-shadow: 0 0 25px rgb(255, 238, 0);
}

#boostBarLeft, #boostBarRight
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
}

#boostBarBgLeft, #boostBarBgRight
{
    position: absolute;
    width: 100%;
    height: 100%;
}

#boostBarBgLeft
{
    left: 0;
}

#boostBarBgRight
{
    right: 0;
}

#boostBarFillLeft, #boostBarFillRight
{
    position: absolute;
    width: 0%;
    height: 100%;
    transition: width 0.2s ease;
}

#boostBarFillLeft
{
    left: 2px;
}

#boostBarFillRight
{
    right: 2px;
}

#pressBoostTextLeft, #pressBoostTextRight
{
    position: absolute;
    width: max-content;
    display: none;
    transform: translateY(100%);
}