#modes
{
    display: none;
}

#modeSelection, #modesSelectionParent
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 80vw;
    max-width: 900px;
    height: 54vh;
    max-height: 480px;
}

#modeSelection
{
    background-color: #000000;
    border: 1px solid #002522;
    border-radius: 15px;
}

#modesLocal, #modesOnline, #modesLocalDiv, #modesOnlineDiv
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1vw;
}

#modesLocalButton, #modesOnlineButton
{
    transform: translate(0%, 0%);
}

.modeClass
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.modeClass p
{
    transform: translateY(5vh);
}

#modesLocalText, #modesOnlineText, #modesLocalHeader, #modesOnlineHeader
{
    position: absolute;
    transform: translateY(-20vh);
}

#modesLocal h1, #modesOnline h1
{
    margin: 0;
}

#modesLocal p, #modesOnline p
{
    margin-top: -3vh;
}

.modeSelectionButton
{
    display: flex;
    height: calc(10vh + 7vw);
    width: calc(10vh + 7vw);
    min-width: 4rem;
    min-height: 4rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d;
    border-radius: 15px;
}

.bigModeSelectionButton
{
    display: flex;
    height: calc(16vh + 10vw);
    width: calc(16vh + 10vw);
    min-width: 6rem;
    min-height: 6rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d;
    border-radius: 15px;
    transform: translateY(-200%);
}

.bigAppearAnim
{
    animation: bigModeAppear 0.3s ease forwards;
}

.littleAppearAnim
{
    animation: littleModeAppear 0.3s ease forwards;
}

/* .modeAppear
{
    transform: translateY(0%);
    opacity: 1;
} */

.modeSelectionButton img, .bigModeSelectionButton img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modeBackButton
{
    transform: translate(0%, 0%);
}

#modeSelection h3, #mainPanel h3, #rulesPanel h3
{
    position: absolute;
    top: 1vh;
    font-size: clamp(2vh, 1rem + 6vh, 6rem);
    color: white;
}

.modeSelectionButton:hover,
#mainPlayButton:hover,
#mainSettingsButton:hover
 {
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}