#modes
{
    display: none;
}

#modeSelection, #modesSelectionParent
{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 80vw;
    max-width: 900px;
    height: 54vh;
    max-height: 480px;
}

#modesLocal, #modesOnline, #modesLocalDiv, #modesOnlineDiv
{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1vw;
}

#modesLocalButton, #modesOnlineButton
{
    transform: translate(0%, 0%);
}

.modeClass
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.modeClass p
{
    transform: translateY(5vh);
}

#modesLocalText, #modesOnlineText, #modesLocalHeader, #modesOnlineHeader
{
    position: absolute;
    transform: translateY(-20vh);
}

#modesLocal h1, #modesOnline h1
{
    margin: 0;
}

#modesLocal p, #modesOnline p
{
    margin-top: -3vh;
}

.modeSelectionButton
{
    display: flex;
    height: calc(10vh + 7vw);
    width: calc(10vh + 7vw);
    min-width: 4rem;
    min-height: 4rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d70;
    border-radius: 15px;
}

.modeSelectionButton:focus, .bigModeSelectionButton:focus
{
    box-shadow: 0 0 16px rgba(0, 247, 255, 0.915);
}

.bigModeSelectionButton
{
    display: flex;
    height: calc(12vh + 10vw);
    width: calc(12vh + 10vw);
    min-width: 6rem;
    min-height: 6rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d70;
    border-radius: 15px;
    transform: translateY(-200%);
}

.bigAppearAnim
{
    animation: bigModeAppear 0.3s ease-in-out forwards;
}

.littleAppearAnim
{
    animation: littleModeAppear 0.3s ease-in-out forwards;
}

.modeSelectionButton img, .bigModeSelectionButton img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modeBackButton
{
    transform: translate(0%, 0%);
}

/* #modeSelection h3, #mainPanel h3, #rulesPanel h3
{
    position: absolute;
    top: 1vh;
    font-size: clamp(2vh, 1rem + 6vh, 6rem);
    color: white;
} */

.modeSelectionButton:hover,
#mainPlayButton:hover,
#mainSettingsButton:hover
 {
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}

#listSpectateDivPanel
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closeListSpectatePanel
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

#listSpectatePanel
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(17vw + 5vh);
    height: calc(37vh + 5vw);
    border: 1px solid #00776d70;
    border-radius: 8px;
    background-color: rgba(0, 255, 255, 0.1);
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spectateList
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: calc(100% - 8px);
    overflow-y: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.matchInList
{
    display: flex;
    width: 90%;
    height: 2rem;
    border: 1px solid #00776d70;
    background-color: rgb(0, 40, 40);
    justify-content: center;
}

.matchInList:hover
{
    border: 1px solid #00918570;
    background-color: rgb(0, 70, 70);
}

.centeredText
{
    display: flex;
    align-items: center;
}