.chat-box {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 350px;
    max-height: 400px;
    background-color: #292b37;
    border: 3px solid #4c4f67;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.301); /* Neon shadow */
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

#toggleSizeButton
{
    z-index: 2;
}

.messages {
    overflow-y: auto;
    max-height: 300px;
    border-bottom: 2px solid #4c4f67;
}

.messages div {
    right: -5px;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-wrap: normal;
    white-space: pre-wrap;
    flex-shrink: 0;
}

.message-container {
    display: flex; 
    flex-direction: column; /* Stack name and message vertically */
    margin-bottom: 5px; /* Space between messages */
}

.message-name {
    /* align-self: flex-end; */
    right: 4px;
    font-size: 11px;
    font-weight: lighter; /* Make the name bold */
    color: #f2f2f2; /* Color for the name */
    box-shadow: none; /* Explicitly set box-shadow to none */
    background: transparent;
}

.message, .message-left, .message-middle, .message-right {
    position: relative;
    font-family: Arial, sans-serif;
    padding: 2px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 90%;
}

.message-container-left
{
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
    background-color: #2e333a;
}

.message-container-right
{
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
    background-color: #26293b;
}

.message-left {
    color: #ffffff;
    text-align: left;
    align-self: flex-start;
    align-items: start;
}

.message-middle {
    text-align: center;
    align-self: center;
    color: #6d6d6d;
    align-items:center;
    font-style: italic;
}

/* Messages aligned to the right */
.message-right {
    color: #00ffff;
    text-align: left;
    align-self: flex-end;
    right: 30px;
    align-items: end;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #20222c;
}

#myInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    background-color: #1c1e26;
    color: #00ffff;
    border: 2px solid #4c4f67;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#myInput::placeholder {
    color: #70727f;
}

.button-send-img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#sendButton
{
    width: 40px;
    height: 30px;
    background-color: #00000000;
    border: none;
}

button:hover {
    background-color: #00ffff25;
}

.chat-box.shrunk {
    width: 34px;
    height: 34px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 0, 127, 0.8);
    transition: width 0.4s ease, height 0.4s ease;
}

.chat-box.shrunk.hide-elements .messages,
.chat-box.shrunk.hide-elements .input-container {
    display: none;
}

.chat-box.expanded {
    width: 350px;
    height: 400px;
}

#toggleSizeButton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

#toggleSizeButton img {
    width: 25px;
    height: 25px;
    transition: all 0.3s ease;
    color: rgba(255, 0, 127, 0.8);
}

.chat-box.shrunk #toggleSizeButton {
    position: absolute;
    top: 2;
    right: 2;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 5px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggleSizeButton:hover {
    transform: scale(1.3);
}
