#pressPlayDiv
{
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#pressplay {
    position: relative;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 4vw;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

#play {
    position: relative;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 7vw;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    font-size: 8vw;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(0, 253, 232, 0.774), 
    -2px 2px 2px rgba(255, 0, 221, 0.8), 
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-before 0.5s infinite linear alternate-reverse;
 }
 
 .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    font-size: 9vw;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(17, 0, 253, 0.774), 
    -2px 2px 2px rgba(255, 0, 255, 0.8),   
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-after 0.5s infinite linear alternate-reverse;
 }

/* #playername-left {
    right: 50%;
    transform: translateX(-7vw);
} */

#scores
{
    display: none;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
}

#timer
{
    /* position: absolute;
    top: 0;
    left: 50%; */
    font-size: clamp(1rem, 2vw + 1.5rem, 6vw);
    margin: 0 -0.5rem -0.5rem -0.5rem;
}

#scorediv
{
    display: flex;
    gap: 3vw;
    flex-direction: row;
    /* transform: translate(0, -250%); */
}

#score-left, #score-right{
    /* top: 0;
    position: absolute; */
    font-size: 4.5vw;
    color: white;
    font-size: clamp(1rem, 1vw + 1.5rem, 6vw);
    
}

#playername-left, #playername-right {
    /* top: 5%;
    position: absolute; */
    color: white;
    font-size: clamp(1rem, 1vw + 1.5rem, 6vw);
}

/* #playername-right {
    left: 50%;
    transform: translateX(7vw);
} */

/* .playername {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
} */

/* #score-left {
    left: calc(50% - 4vw);
}

#score-right {
    right: calc(50% - 4vw);
} */

/* .score {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
} */

.fall-down {
    animation: fall-down 0.5s forwards;
}

.rise-up
{
    animation: rise-up 0.5s forwards;
}

.fade {
    opacity: 0;
    animation: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-active {
    animation: fade 2s forwards;
}

#controlsP1LocalImg, #controlsP2LocalImg, #controlsAdventureImg {
    display: none;
    position: absolute;
    bottom: 5%;
    z-index: 1;
    width: 20vw;
    max-width: 12rem;
}

#controlsP1LocalImg, #controlsAdventureImg
{
    left: 1rem;
}

#controlsP2LocalImg
{
    right: 1rem;
}

#loading
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}