.mainMenuPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainPanel {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: #000000;
    border: 1px solid #002522;
    border-radius: 15px;
    z-index: 0;
}

.mainMenuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 5px 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #005c57;
    border-radius: 15px;
    text-align: center;
    line-height: 14px;
    font-size: 46px;
}

#modeSelection
{
    display: none;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 500px;
    background-color: #000000;
    border: 1px solid #002522;
    border-radius: 15px;
}

.modeSelectionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin: 5px 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d;
    border-radius: 15px;
    text-align: center;
    line-height: 35px;
    font-size: 46px;
}

.modeSelectionButtonBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    margin: 5px 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #770000;
    border-radius: 15px;
    text-align: center;
    line-height: 14px;
    font-size: 46px;
}

#modeSelection h3, #mainPanel h3
{
    position: absolute;
    top: 10%;
    font-size: 46px;
    color: white;
}

.modeSelectionButton:hover,
.modeSelectionButtonBack:hover,
#mainPlayButton:hover,
#mainSettingsButton:hover
 {
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}

.mainButtonHover:hover{
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}
