#menuPanel {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgba(0, 27, 27, 0.301);
    border: 1px solid #005c57;
    border-radius: 3px;
    padding: 10px 50px 10px 10px;
    z-index: 1;
    transform: translateX(-130px);
    transition: transform 0.3s ease;
}

#menuPanel.show {
    transform: translateX(0);
}

#menu-label {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#menu-label span {
    display: block;
    color: white;
    padding: 0px 8px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 5px 0;
    background-color: #005c57;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-align: center;
    line-height: 14px;
    font-size: 20px;
}

.menuButton:hover {
    opacity: 0.8;
}

#profilePanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: rgb(1, 56, 56);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

#profilePanel.toLeft
{
    transform: translate(-100%, -50%);
}

#profilePanel h2, #settingsPanel h2 {
    margin-top: 0;
    text-align: center;
    font-size: 60px;
    color: white;
}

#profilePanel p, #settingsPanel p {
    margin: 5px 0;
    text-align: left;
    font-size: 30px;
    color: white;
}

#matchListPanel {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: rgb(1, 56, 56);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
}

#matchListPanel.toRight
{
    transform: translate(0%, -50%);
}

#matchListPanel p {
    margin: 5px 0;
    text-align: left;
    font-size: 30px;
    color: white;
}

#seeMatchesButton
{
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    display: flex;
    transform: translate(50%, 0%);
    background-color: #005c57;
    color: white;
    border: 1px solid #003a37;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

#closeProfileButton, #closeSettingsButton {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    color: white;
    border: 3px solid #770000;
    border-radius: 15px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 255, 255, 0.219);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

#settingsPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color:rgb(1, 56, 56);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#options
{
    display: flex;
    justify-content: left;
    align-items: center;
}

#closeSettingsButton:hover, #closeProfileButton:hover, #seeMatchesButton:hover
{
    background-color: rgba(0, 255, 255, 0.267);
    opacity: 0.8;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.815);
}

#seeMatchesButton.open
{
    border: 2px solid rgb(1, 168, 163);
    background-color: rgb(0, 142, 137);
}

#seeMatchesButton.open:hover
{
    border: 2px solid rgb(1, 168, 163);
    background-color: rgba(0, 255, 255, 0.567);
}

#color1Button, #color2Button, #color3Button, #color4Button, #color5Button {
    margin: 3px;
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
    background-color: white;
    border: none;
    position: relative;
    transition: box-shadow 0.3s;
}

#color1Button:hover::after, 
#color2Button:hover::after, 
#color3Button:hover::after, 
#color4Button:hover::after, 
#color5Button:hover::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #00ff15bd;
    border-radius: 5px;
    z-index: -1;
}


#color2Button
{
    background-color: #9e009e;
}

#color3Button
{
    background-color: #ffbb00;
}

#color4Button
{
    background-color: #ac0000;
}

#color5Button
{
    background-color: #08ec00;
}

#lang1Button,
#lang2Button {
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 3px;
    margin: 0px;
    position: relative;
    transition: box-shadow 0.3s;
}

#lang1Button img,
#lang2Button img {
    width: 80px;
    height: 41px;
}

#lang1Button:hover::after,
#lang2Button:hover::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #00ff15bd;
    border-radius: 3px;
    z-index: -1;
}

#overlay
{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.score-container
{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #002627;
}

.score-left
{
    flex: 1;
    position: relative;
    font-family: 'MyCustomFont', Arial, sans-serif;
    padding: 4px;
    font-size: 30px;
    box-sizing: border-box;
    white-space: pre-line;
    text-align: start;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.score-right
{
    flex: 1;
    position: relative;
    font-family: 'MyCustomFont', Arial, sans-serif;
    padding: 4px;
    font-size: 30px;
    text-align: end;
    box-sizing: border-box;
    white-space: pre-line;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

#victoriesContainer, #mailContainer
{
    display: flex;
    flex-direction: row;
}

#victoriesImg, #mailImg
{
    display: flex;
    height: 32px;
    width: 32px;
    padding: 4px;
}