#menuPanel {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: rgba(0, 27, 27, 0.301);
    border: 1px solid #005c57;
    border-radius: 3px;
    padding: 10px 50px 10px 10px;
    z-index: 11;
    transform: translateX(-130px);
    transition: transform 0.3s ease;
}

#menuPanel.show {
    transform: translateX(0);
}

#menu-label {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#menu-label span {
    display: block;
    color: white;
    padding: 0px 8px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 3px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 5px 0;
    background-color: #005c57;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    text-align: center;
    line-height: 14px;
    font-size: 20px;
}

.menuButton:hover {
    opacity: 0.8;
}

#profilePanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color: rgb(1, 56, 56);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 200;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
#profilePanel h2 {
    margin-top: 0;
    text-align: center;
    font-size: 60px;
    color: white;
}

#profilePanel p {
    margin: 5px 0;
    text-align: left;
    font-size: 30px;
    color: white;
}

#closeProfileButton {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #005c57;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

#settingsPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    background-color:rgb(1, 56, 56);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 200;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#options
{
    display: flex;
    justify-content: left;
    align-items: center;
}

#settingsPanel h2 {
    margin-top: 0;
    text-align: center;
    font-size: 60px;
    color: white;
}

#settingsPanel p {
    margin: 5px 0;
    text-align: left;
    font-size: 30px;
    color: white;
}

#closeSettingsButton {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #005c57;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

#color1Button, #color2Button, #color3Button, #color4Button, #color5Button {
    margin: 3px;
    margin-bottom: 10px;
    width: 64px;
    height: 64px;
    background-color: white;
    border: none;
    position: relative;
    transition: box-shadow 0.3s;
}

#color1Button:hover::after, 
#color2Button:hover::after, 
#color3Button:hover::after, 
#color4Button:hover::after, 
#color5Button:hover::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #00ff15bd;
    border-radius: 5px;
    z-index: -1;
}


#color2Button
{
    background-color: #9e009e;
}

#color3Button
{
    background-color: #ffbb00;
}

#color4Button
{
    background-color: #ac0000;
}

#color5Button
{
    background-color: #08ec00;
}

#lang1Button,
#lang2Button {
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 3px;
    margin: 0px;
    position: relative;
    transition: box-shadow 0.3s;
}

#lang1Button img,
#lang2Button img {
    width: 80px;
    height: 41px;
}

#lang1Button:hover::after,
#lang2Button:hover::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #00ff15bd;
    border-radius: 3px;
    z-index: -1;
}