
#modeSelection
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 56rem;
    height: 54vh;
    max-height: 30rem;
    background-color: #000000;
    border: 1px solid #002522;
    border-radius: 15px;
}

.modeSelectionButton, .modeSelectionButtonBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 8vh;
    margin: 0.5vh 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #00776d;
    border-radius: 15px;
    text-align: center;
    font-size: clamp(0.5rem + 1vw, 0.5rem + 2vw, 6vw);
}

.modeSelectionButtonBack {
    border: 3px solid #770000;
}

#modeSelection h3, #mainPanel h3
{
    position: absolute;
    top: 1vh;
    font-size: clamp(2vh, 1rem + 6vh, 6rem);
    color: white;
}

.modeSelectionButton:hover,
.modeSelectionButtonBack:hover,
#mainPlayButton:hover,
#mainSettingsButton:hover
 {
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}