#rules
{
    display: none;
}

#rulesPanel
{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flexbox;
    flex-direction: column;
    width: 80vw;
    max-width: 56rem;
    height: 54vh;
    max-height: 30rem;
    min-height: 18rem;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border: 1px solid #002522;
    border-radius: 15px;
    transform: translate(-50%, -50%);
}

#rulesPanel h1
{
    font-size: clamp(0.5rem + 1vw, 0.5rem + 2vh, 6vw);
}

#rulesPanel input
{
    margin-top: -1rem;
}

#rulesPoints, #rulesTimer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rulesArenaType
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#arenas
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#rulesPointsInput, #rulesTimerInput {
    font-family: 'MyCustomFont', Arial, sans-serif;
    flex-grow: 1;
    padding: 0.5vh 0.5vh 0px 0.5vh;
    font-size: clamp(0.5rem + 1vw, 0.5rem + 2vw, 6vw);
    text-align: center;
    width: 3vw;
    height: 2vh;
    background-color: #1c1e26;
    color: #00ffff;
    border: 2px solid #4c4f67;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#rulesPointsInput::placeholder, #rulesTimerInput::placeholder {
    font-family: 'MyCustomFont', Arial, sans-serif;
    color: #70727f;
}

#buttonsRules
{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

#buttonAcceptRules
{
    width: auto;
    width: 17vw;
    height: 8vh;
    margin: 0.5vh 0;
    border: none;
    border: 1px solid #999999;
    background-color:rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.301);
    font-size: clamp(0.5rem + 1vw, 0.5rem + 2vw, 6vw);
}

#buttonCancelRules
{
    width: auto;
    width: 17vw;
    height: 8vh;
    margin: 0.5vh 0;
    border: none;
    border: 1px solid #999999;
    background-color:rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.301);
    font-size: clamp(0.5rem + 1vw, 0.5rem + 2vw, 6vw);
}

#buttonAcceptRules:hover
{
    border-color: #035500;
    background-color: rgba(0, 255, 21, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}

#buttonCancelRules:hover
{
    border-color: #550000;
    background-color: rgba(255, 0, 0, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(255, 0, 0, 0.301);
}

.arena
{
    width: 25%;
}

.applyBorder
{
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.501);
}