@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/PixelGame.otf') format('opentype');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: Set a background color */
    overflow: hidden;
}

#top-text {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 20px;
    font-size: 96px; /* Adjust size as needed */
    font-family: 'MyCustomFont', Arial, sans-serif; /* Apply the custom font */
    text-align: center;
    z-index: 100; /* Ensure it's on top */
    width: 100%;
}

#pressplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 20px;
    font-size: 50px;
    font-family: 'MyCustomFont', Arial, sans-serif;
    text-align: center;
    z-index: 100;
    overflow: hidden;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#score-left, #score-right {
    position: absolute;
    font-size: 52px;
    color: white;
    font-family: 'MyCustomFont', Arial, sans-serif;
}
#score-left {
    top: 120px;
    left: 320px;
    display: none;
}

#score-right {
    top: 120px; 
    right: 320px;
    display: none;
}

.score {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Moves the text down by 20px */
.fall-down {
    animation: fall-down 0.5s forwards;
}

.rise-up
{
    animation: rise-up 0.5s forwards;
}

#pressplay span {
    display: inline-block;
    font-size: 80px;
    color: white;
    position: relative;
    overflow: hidden;
    animation: glitch 1.5s infinite;
}

.fade {
    opacity: 0;
    animation: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-active {
    animation: fade 2s forwards;
}

#pressplay span {
    animation: glitch 1s infinite;
}
