@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/PixelGame.otf') format('opentype');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Optional: Set a background color */
    overflow: hidden;
    font-family: 'MyCustomFont', Arial, sans-serif;
}

p, button {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

h1, h2, h3 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

button
{
    font-family: 'MyCustomFont', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.hide-cursor {
    cursor: none;
}

#top-text {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    color: white;
    padding: 10px 20px;
    font-size: 64px;
    text-align: center;
    z-index: 0;
    width: 100%;
}

#pressPlayDiv
{
    pointer-events: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#pressplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 30px));
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

#play {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 30px));
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 80px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459),
    -1px -1px 0px rgba(0, 0, 0, 0.459),
    1px -1px 0px rgba(0, 0, 0, 0.459),
    -1px 1px 0px rgba(0, 0, 0, 0.459),
    2px 2px 2px rgba(0, 0, 0, 0.459);
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    font-size: 70px;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(0, 253, 232, 0.774), 
    -2px 2px 2px rgba(255, 0, 221, 0.8), 
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-before 0.5s infinite linear alternate-reverse;
 }
 
 .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    font-size: 90px;
    background-color: #222;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    text-shadow: 
    2px 2px 2px rgba(17, 0, 253, 0.774), 
    -2px 2px 2px rgba(255, 0, 255, 0.8),   
    2px -2px 2px rgba(255, 0, 0, 0.8), 
    -2px -2px 2px rgba(0, 250, 96, 0.8);
    animation: noise-after 0.5s infinite linear alternate-reverse;
 }

#score-left, #score-right{
    top: 80px;
    position: absolute;
    font-size: 52px;
    color: white;
}

#playername-left, #playername-right {
    top: 90px;
    position: absolute;
    color: white;
    font-size: 35px;
}

#playername-left {
    right: 50%;
    transform: translateX(-60px);
}

#scores
{
    display: none;
}

#playername-right {
    left: 50%;
    transform: translateX(60px);
}

.playername {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

#score-left {
    left: calc(50% - 40px);
}

#score-right {
    right: calc(50% - 40px);
}

.score {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Moves the text down by 20px */
.fall-down {
    animation: fall-down 0.5s forwards;
}

.rise-up
{
    animation: rise-up 0.5s forwards;
}

.fade {
    opacity: 0;
    animation: none;
    transition: opacity 0.5s ease-in-out;
}

.fade-active {
    animation: fade 2s forwards;
}

/* #loadingScreen {
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    z-index: 1;
}

#loadingScreen p {
    font-size: 30px;
    color: white;
    font-family: 'MyCustomFont', Arial, sans-serif;
} */

#controlsP1LocalImg, #controlsP2LocalImg, #controlsAdventureImg {
    display: none;
    position: absolute;
    bottom: 5%;
    z-index: 1;
    width: 192px;
}

#controlsP1LocalImg, #controlsAdventureImg
{
    left: 2%;
}

#controlsP2LocalImg
{
    right: 2%;
}

#loading
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}