.mainMenuPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainPanel {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 56rem;
    height: 54vh;
    max-height: 30rem;
    z-index: 0;
    gap: 12px;
}

.mainMenuButton {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 17vw;
    max-width: 250px;
    height: 8vh;
    max-height: 96px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 3px solid #005c57;
    border-radius: 15px;
    /* text-align: center; */
    font-size: clamp(0.5rem + 2vw, 0.5rem + 2vw, 6vw);
}

.mainMenuButton:hover{
    border-width: 6px;
    background-color: rgba(0, 255, 255, 0.219);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}

.disabledButtonHover:hover{
    border-color: transparent !important;
    border-width: 3px !important;
    background-color: rgba(34, 34, 34, 0.377) !important;
    box-shadow: none !important;
}

.disabledButtonHover
{
    pointer-events: none !important;
    opacity: 0.5 !important;
    filter: grayscale(85%);
}

.disabledText
{
    opacity: 0.3;
}

#homeImg
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50vh;
    height: 50vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.headerText
{
    position: absolute;
    left: 50%;
    top: 0%;
    margin: 0;
    transform: translate(-50%, 150%);
}

.buttonCancel
{
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 8vh;
    max-height: 64px;
    margin: 0.5vh 0;
    color: var(--base-color);
    font-size: clamp(0.5rem + 1vw, 0.5rem + 1vw + 1vh, 6vw);
    border-radius: 8px;
    border: 3px solid #770000a4;
    transform: translate(60%, 0%);
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.301);
}

.buttonCenter
{
    transform: none;
}

.buttonCancel:hover
{
    border-color: #b60000;
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(255, 0, 0, 0.301);
}

.buttonAccept
{
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 8vh;
    max-height: 64px;
    margin: 0.5vh 0;
    color: var(--base-color);
    font-size: clamp(0.5rem + 1vw, 0.5rem + 1vw + 1vh, 6vw);
    border-radius: 8px;
    border: 3px solid #003a37;
    transform: translate(-60%, 0%);
    background-color:rgba(0, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.301);
}

.buttonAccept:hover
{
    border-color: #06ad00;
    background-color: rgba(0, 255, 21, 0.3);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.301);
}

.buttonSpectate
{
    position: absolute;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 8vh;
    margin: 0.5vh 0;
    color: var(--base-color);
    font-size: clamp(0.5rem + 1vw, 0.5rem + 1vw + 1vh, 6vw);
    border-radius: 8px;
    border: 3px solid #006b6b;
    transform: translate(-60%, 0%);
    background-color:rgba(0, 255, 255, 0.219);
    box-shadow: 0 0 8px rgba(0, 255, 255, 0.452);
}

.buttonSpectate:hover
{
    border-color: #00fff2;
    background-color: rgba(0, 255, 255, 0.418);
    opacity: 0.8;
    box-shadow: 0 0 16px rgba(0, 255, 255, 0.637);
}

.fadeMainButton
{
    animation: fade 0.5s ease forwards;
}

#waitingMatch
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    place-items: center;
}

#waitingMatchText
{
    font-size: clamp(0.5rem + 2vw, 0.5rem + 2vw + 2vh, 6vw);
}