#profilePanel
{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 50vh;
    min-height: 250px;
    padding: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.1s ease;
    background: radial-gradient(circle, rgb(1, 105, 97), rgb(0, 39, 39));
    border: 2px solid rgb(1, 105, 97);
    border-radius: 8px;
}

#profilePictureDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    align-self: center;
}

#miniProfilePictureDiv
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#miniProfilePicture
{
    width: 4rem;
    height: 4rem;
}

#profilePicture
{
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
}

#headerProfile, #deleteProfile
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#deleteProfile
{
    position: absolute;
    align-items: center;
    right: 0;
    bottom: 0;
    max-width: 4rem;
}

#profileInfos, #profileStats {
    display: flex;
    flex-direction: column;
    height: calc(100% - 1.2rem - 10vh);
}

#profileInfos
{
    justify-content: start;
    align-items: start;
}

#profileStats
{
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 1vh;
}

#profilePanel.appear, #miniProfilePanel.appear {
    opacity: 1;
}

#profilePanel.toLeft
{
    transform: translate(-100%, -50%);
}

#profilePanel h2, #settingsPanel h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: var(--base-color);
}

#profilePanel p, #settingsPanel p {
    margin: 1.5vh 0 0 0;
    text-align: left;
    color: var(--base-color);
}

#matchListPanel {
    display: flex;
    flex-direction: column;
    width: calc(15vw + 5vh);
    max-width: 400px;
    min-width: 200px;
    background-color: rgb(1, 56, 56);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

#closeProfileButton, #closeMiniProfileButton
{
    position: absolute;
    bottom: 2vh;
}

#closeProfileButton, #closeMiniProfileButton, #closeSettingsButton {
    width: fit-content;
    align-self: center;
    margin-top: 2vh;
    padding: 0.2rem;
    color: var(--base-color);
    border: 3px solid #770000a4;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(0, 255, 255, 0.219);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

#profileContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#mainProfileInfos
{
    margin-left: 0.5rem;
}

#profileStatsContainer, #profileTotalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#changePasswordButton
{
    display: flex;
    text-align: center;
}

.profileField
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.editButtonProfile
{
    width: 24px;
    height: 24px;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
} 

.editButtonProfile:hover
{
    filter: hue-rotate(100deg) saturate(200%);
    background-color: transparent;
}

.editButtonProfile img
{
    width: 20px;
    height: 20px;
}

#nameProfile
{
    font-size: 1.5rem !important;
}

#miniProfilePanel
{
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content:space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(17vw + 5vh);
    max-width: 800px;
    min-width: 200px;
    min-height: 200px;
    padding: 2vh;
    z-index: 3;
    opacity: 0;
    transition: all 0.2s ease;
    background: radial-gradient(circle, rgb(1, 105, 97), rgb(0, 39, 39));
    border: 2px solid rgb(1, 105, 97);
    border-radius: 8px;
    padding-bottom: 10vh;
}

#miniProfileInfos
{
    width: 90%;
}

#scoresMiniPanel, #statsContainer
{
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content:space-evenly;
}

.scoreMiniPanel
{
    width: 6rem;
    height: 3rem;
    background: rgba(60, 60, 100, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

.scoreMiniPanel p
{
    margin: 0;
    font-size: 1rem;
    margin: 0 !important;
}

#deleteProfile p
{
    margin: 0;
}

#deleteProfileButton
{

    border: 3px solid #ff000047;
    background-color: #ff00005c;
    border-radius: 4px;
}
#deleteProfileButton:hover
{
    border: 3px solid #ff000069;
    background-color: #ff000094;

}

#changePasswordButton
{
    border: 3px solid #dbfbfd47;
    background-color: #dbfbfd00;
    border-radius: 4px;
}

#changePasswordButton:hover
{
    border: 3px solid #00eeff69;
    background-color: #00eeff34;

}

#headerButtonsProfile
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.5rem;
}

.headerProfileButton
{
    width: inherit;
    background: none;
    border: none;
    background-color: #00000025;
    color: var(--base-color);
    text-align: center;
    filter: brightness(40%);
    border: 3px solid transparent;
    font-size: 1.1rem;
}

.headerProfileButton.light
{
    background-color: transparent;
    filter: brightness(100%);
}


#headerMatchsProfileButton
{
    border-left: 2px solid rgb(1, 105, 97);
}

#headerMainProfileButton
{
    border-right: 2px solid rgb(1, 105, 97);
}

#fileInput, #submitButton {
    display: none;
}

#uploadForm button {
    padding: 5px 10px;
    background-color: rgba(56, 255, 0, 0.18);
    border: 3px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

#uploadForm button:hover {
    background-color: #009106;
}

#deleteProfileConfirm, #changePasswordProfileConfirm, #changeFieldProfileConfirm
{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
}

#buttonsAskDelete, #buttonsAskChangePassword, #buttonsAskChangeField, #buttonsAskChangeField
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

#buttonsAskChangeField button
{
    position: relative;
    bottom: -50%;
    transform: none;
}

#buttonAcceptDelete, #buttonCancelDelete, #buttonAcceptChangePassword, #buttonCancelChangePassword
{
    position: inherit;
    margin: 0;
    transform: none;
}

#buttonAcceptChangePassword, #buttonCancelChangePassword
{
    margin-top: 32px;
}

#buttonAcceptDelete
{
    transform: scale(70%);
}
#buttonAcceptDelete:hover
{
    border-color: #fb0000;
    background-color: #800000;
    opacity: 0.8;
    box-shadow: 0 0 32px rgb(255, 0, 0);
}

#buttonCancelDelete:hover
{
    border-color: #00fbc0;
    background-color: #00807a;
    box-shadow: 0 0 24px rgb(0, 255, 255);
}

#errorPanel
{
    display: none;
    position: absolute;
    bottom: 0;
    border: 2px solid red;
    background-color: rgb(73, 0, 0);
    z-index: 10;
    padding: 8px;
    text-align: center;
}

#errorPanel p
{
    color: red;
    margin: 0;
}