#profilePanel
{
    display: none;
    position: fixed;
    flex-direction: row;
    justify-content:space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(40vw + 25vh);
    max-width: 800px;
    min-width: 200px;
    height: 45vh;
    min-height: 200px;
    padding: 2vh;
    z-index: 3;
    opacity: 0;
    transition: all 0.1s ease;
    background: radial-gradient(circle, rgb(1, 105, 97), rgb(0, 39, 39));
    border: 2px solid rgb(1, 105, 97);
    border-radius: 8px;
}

#profilePanel h1
{
    margin: 0;
    font-size: clamp(0.5rem + 1vw + 0.5vh, 1rem + 1vw + 0.5vh, 5rem);
}

#profilePictureDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    align-self: center;
}

#profilePicture
{
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
}

#profileInfos, #profileStats {
    display: flex;
    flex-direction: column;
    background-color: #00000010;
    width: 49%;
}

#profileInfos
{
    justify-content: start;
    align-items: start;
}

#profileStats
{
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#profilePanel.appear {
    opacity: 1;
}

#profilePanel.toLeft
{
    transform: translate(-100%, -50%);
}

#profilePanel h2, #settingsPanel h2 {
    font-size: clamp(1rem + 0.2vw + 0.2vh, 1rem + 1.5vw + 1.5vh, 6rem);
    margin: 0;
    text-align: center;
    color: white;
}

#profilePanel p, #settingsPanel p {
    margin: 1.5vh 0 0 0;
    text-align: left;
    color: white;
}

#matchListPanel {
    position: absolute;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(15vw + 5vh);
    max-width: 400px;
    min-width: 200px;
    background-color: rgb(1, 56, 56);
    border: 1px solid #00f7ff57;
    border-radius: 10px;
    padding: 0.5vw;
    z-index: 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out;
}

#matchListPanel.toRight
{
    transform: translate(0%, -50%);
}

#matchListPanel p {
    margin: -10px 0;
    bottom: 0;
    text-align: center;
    font-size: clamp(0.5rem + 1vw + 1vh, 0.5rem + 1vw + 1vh, 10vw);
    color: white;
}

#seeMatchesButton
{
    width: 50%;
    background-color: #005c57;
    color: white;
    border: 1px solid #003a37;
    text-align: center;
    font-size: clamp(0.5rem + 1vw + 1vh, 0.5rem + 1vw + 1vh, 10vw);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
    margin-top: 5vh;

}

#closeProfileButton
{
    position: absolute;
    bottom: 2vh;
}

#closeProfileButton, #closeSettingsButton {
    width: fit-content;
    align-self: center;
    margin-top: 2vh;
    padding: 0.2rem;
    color: white;
    border: 3px solid #770000a4;
    border-radius: 8px;
    text-align: center;
    font-size: clamp(0.5rem + 1vw + 1vh, 0.5rem + 1vw + 1vh, 10vw);
    background-color: rgba(0, 255, 255, 0.219);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

#profileContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#profileStatsContainer, #profileTotalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seeMatchesButton.open
{
    border: 2px solid rgb(1, 168, 163);
    background-color: rgb(0, 142, 137);
}

#seeMatchesButton.open:hover
{
    border: 2px solid rgb(1, 168, 163);
    background-color: rgba(0, 255, 255, 0.567);
}

#mailImg
{
    display: flex;
    padding: 4px;
}

#mailImg
{
    width: calc(1.5vw + 1.5vh);
    height: calc(1.5vw + 1.5vh);
}

.profilePictureChangeButton
{
    background-color: #00302d;
    border: 1px solid #40977a;
    height: 3vh;
    min-height: 24px;
    border-radius: 4px;
    color: white;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.profilePictureChangeButton:hover
{
    background-color: #005e57;
    border-color: rgb(98, 197, 164);
}

#fileInput
{
    display: none;
}