#profilePanel
{
    display: none;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(20vw + 15vh);
    max-width: 800px;
    min-width: 200px;
    height: 50vh;
    min-height: 200px;
    padding: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.1s ease;
    background: radial-gradient(circle, rgb(1, 105, 97), rgb(0, 39, 39));
    border: 2px solid rgb(1, 105, 97);
    border-radius: 8px;
}

#profilePictureDiv
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    align-self: center;
}

#miniProfilePictureDiv
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#miniProfilePicture
{
    width: 4rem;
    height: 4rem;
}

#profilePicture
{
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
}

#headerProfile, #deleteProfile
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* #headerProfile
{
    padding-bottom: 1rem;
} */

#deleteProfile
{
    position: absolute;
    bottom: 0.5rem;
}

#profileInfos, #profileStats {
    display: flex;
    flex-direction: column;
    height: calc(100% - 1.2rem - 10vh);
}

#profileInfos
{
    justify-content: start;
    align-items: start;
}

#profileStats
{
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 1vh;
}

#profilePanel.appear, #miniProfilePanel.appear {
    opacity: 1;
}

#profilePanel.toLeft
{
    transform: translate(-100%, -50%);
}

#profilePanel h2, #settingsPanel h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: white;
}

#profilePanel p, #settingsPanel p {
    margin: 1.5vh 0 0 0;
    text-align: left;
    color: white;
}

#matchListPanel {
    display: flex;
    flex-direction: column;
    width: calc(15vw + 5vh);
    max-width: 400px;
    min-width: 200px;
    background-color: rgb(1, 56, 56);
    /* z-index: 3; */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

#matchListPanel p {
    margin: -10px 0;
    bottom: 0;
    text-align: center;
    font-size: 1rem;
    color: white;
}

#closeProfileButton, #closeMiniProfileButton
{
    position: absolute;
    bottom: 2vh;
}

#closeProfileButton, #closeMiniProfileButton, #closeSettingsButton {
    width: fit-content;
    align-self: center;
    margin-top: 2vh;
    padding: 0.2rem;
    color: white;
    border: 3px solid #770000a4;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(0, 255, 255, 0.219);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

#profileContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

#mainProfileInfos
{
    margin-left: 0.5rem;
}

#profileStatsContainer, #profileTotalContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mailImg
{
    display: flex;
    padding: 4px;
}

#mailImg
{
    width: calc(1.5vw + 1.5vh);
    height: calc(1.5vw + 1.5vh);
}

/* .profilePictureChangeButton
{
    background-color: #00302d;
    border: 1px solid #40977a;
    height: 3vh;
    min-height: 24px;
    border-radius: 4px;
    color: white;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

.profilePictureChangeButton:hover
{
    background-color: #005e57;
    border-color: rgb(98, 197, 164);
} */


#miniProfilePanel
{
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content:space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(20vw + 10vh);
    max-width: 800px;
    min-width: 200px;
    /* height: 45vh; */
    min-height: 200px;
    padding: 2vh;
    z-index: 3;
    opacity: 0;
    transition: all 0.2s ease;
    background: radial-gradient(circle, rgb(1, 105, 97), rgb(0, 39, 39));
    border: 2px solid rgb(1, 105, 97);
    border-radius: 8px;
    padding-bottom: 10vh;
}

#miniProfileInfos
{
    width: 90%;
}

#scoresMiniPanel, #statsContainer
{
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content:space-evenly;
}

.scoreMiniPanel
{
    width: 6rem;
    height: 3rem;
    background: rgba(60, 60, 100, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.349);
}

.scoreMiniPanel p
{
    margin: 0;
    font-size: 1rem;
    margin: 0 !important;
}

#deleteProfile
{
    align-items: center;
    gap: 0;
}

#deleteProfile p
{
    margin: 0;
}

#deleteProfileButton
{
    border: 3px solid #ff000047;
    background-color: #ff00005c;
    border-radius: 4px;
}

#deleteProfileButton img
{
    height: 2rem;
}

#headerButtonsProfile
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.2rem;
    min-height: 1.2rem;
}

.headerProfileButton
{
    width: inherit;
    background: none;
    border: none;
    background-color: #00000025;
    color: white;
    text-align: center;
    filter: brightness(40%);
}

.headerProfileButton.light
{
    background-color: transparent;
    filter: brightness(100%);
}