{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Untitled Game</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static './styles/mainMenu.css' %}">
    <link rel="stylesheet" href="{% static './styles/menu.css' %}">
    <link rel="stylesheet" href="{% static './styles/anims.css' %}">
    <link rel="stylesheet" href="{% static './styles/chat.css' %}">
    <link rel="stylesheet" href="{% static './styles/registration.css' %}">
    <link rel="stylesheet" href="{% static './styles/duelPanel.css' %}">
    <link rel="stylesheet" href="{% static './styles/rulesPanel.css' %}">
    <link rel="stylesheet" href="{% static './styles/victory.css' %}">
    <link rel="stylesheet" href="{% static './styles/scores.css' %}">
    <link rel="stylesheet" href="{% static './styles/gameUI.css' %}">
    <link rel="stylesheet" href="{% static './styles/modeSelection.css' %}">
    <link rel="stylesheet" href="{% static './styles/profile.css' %}">
    <link rel="stylesheet" href="{% static './styles/settings.css' %}">
    <link rel="stylesheet" href="{% static './styles/signIn.css' %}">
    <link rel="stylesheet" href="{% static './styles/tournament.css' %}">
    <link rel="stylesheet" href="{% static './styles/friends.css' %}">
    <link rel="stylesheet" href="{% static './styles/choosePaddle.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <script>
        window.env = {
            HOST_ADDRESS: "{{ HOST_ADDRESS }}"
        };
    </script>

</head>
<body>
    <script type="module" src="{% static 'js/rules.js' %}"></script>
    <script type="module" src="{% static 'js/pages.js' %}"></script>
    <script type="module" src="{% static 'js/menu.js' %}"></script>
    <script type="module" src="{% static 'js/levelLocal.js' %}"></script>
    <script type="module" src="{% static 'js/vars.js' %}"></script>
    <script type="module" src="{% static 'js/eventsListener.js' %}"></script>
    <script type="module" src="{% static 'js/chat.js' %}"></script>
    <script type="module" src="{% static 'js/cheats.js' %}"></script>
    <script type="module" src="{% static 'js/registration.js' %}"></script>
    <script type="module" src="{% static 'js/duelPanel.js' %}"></script>
    <script type="module" src="{% static 'js/levelSpace.js' %}"></script>
    <script type="module" src="{% static 'js/levelCave.js' %}"></script>
    <script type="module" src="{% static 'js/timer.js' %}"></script>
    <script type="module" src="{% static 'js/variables.js' %}"></script>
    <script type="module" src="{% static 'js/powerUp.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/tournament.js' %}"></script>
    <script type="module" src="{% static 'js/deathSphere.js' %}"></script>
    <script type="module" src="{% static 'js/translate.js' %}"></script>
    <script type="module" src="{% static 'js/modesSelection.js' %}"></script>
    <script type="module" src="{% static 'js/friends.js' %}"></script>
    <script type="module" src="{% static 'js/sockets.js' %}"></script>
    <script type="module" src="{% static 'js/customizeSkins.js' %}"></script>
    <script type="module" src="{% static 'js/apiFunctions.js' %}"></script>

    <!-- ajouter la page de tournoi ? -->
    <div id="game-local" class="page"></div>
    <div id="game-multi" class="page"></div>
    <div id="game-ai" class="page"></div>
    <div id="game-online" class="page"></div>
    <div id="game-tournament" class="page"></div>
    <!------------------------------ Header Title ------------------------------>
    <div id="header-title">ft_transcendence</div>
    <div id="mainBackground"></div>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!------------------------------ Main Menu UI ------------------------------>
    <div id="home" class="page">
        <div class="mainMenuPanel" id="mainMenuPanel">
            <div class="mainPanel" id="mainPanel">
                <img id="homeImg" src="">
                <h2 class="headerText" id="mainMenuText"></h2>
                <div id="mainPlayDiv">
                    <button class="mainMenuButton" id="mainPlayButton"></button>
                </div>
                <div id="mainProfileDiv">
                    <button class="mainMenuButton" id="mainProfileButton"></button>
                </div>
                <div id="mainCustomizeDiv">
                    <button class="mainMenuButton" id="mainCustomizeButton"></button>
                </div>
                <div id="mainSettingsDiv">
                    <button class="mainMenuButton" id="mainSettingsButton"></button>
                </div>
            </div>
        </div>

        <!------------------------------ Main Menu Log In Buttons ------------------------------>
        <div id="loginbuttons">
            <button id="buttonSignUp"></button>
            <button id="buttonLogIn"></button>
        </div>
        <div id="logoutbuttons">
            <button id="buttonProfile"></button>
            <button id="buttonLogOut"></button>
        </div>
    </div>
    <!------------------------------ Mode Selection ------------------------------>
    <div id="modes" class="page">
        <h2 class="headerText" id="modeSelectionText"></h2>
        <div class="modeSelectionPanel" id="modeSelection">
            <div id="modesSelectionParent">
                <div id="modesLocalDiv">
                    <h2 id="modesLocalText"></h2>
                    <button class="bigModeSelectionButton" id="modesLocalButton">
                        <img id="modesLocalImg" src="{% static 'images/modesLocal.webp' %}" alt="">
                    </button>
                </div>
                <div id="modesOnlineDiv">
                    <h2 id="modesOnlineText"></h2>
                    <button class="bigModeSelectionButton" id="modesOnlineButton">
                        <img id="modesOnlineImg" src="{% static 'images/modesOnline.webp' %}" alt="">
                    </button>
                </div>
            </div>
            <div id="modesLocal">
                <h1 id="modesLocalHeader"></h1>
                <div class="modeClass" id="modeLocalDiv">
                    <button class="modeSelectionButton" id="modeLocalButton">
                        <img id="versusImg" src="{% static 'images/versusImage.webp' %}">
                    </button>
                    <p id="1vs1"></p>
                </div>
                <div class="modeClass" id="modeComputerDiv">
                    <button class="modeSelectionButton" id="modeComputerButton">
                        <img id="vsIAImg" src="{% static 'images/vsComputerImage.webp' %}">
                    </button>
                    <p id="modeComputer"></p>
                </div>
                <div class="modeClass" id="modeTournamentDiv">
                    <button class="modeSelectionButton" id="modeTournamentButton">
                        <img id="tournamentImg" src="{% static 'images/tournamentImage.webp' %}">
                    </button>
                    <p id="tournamentText"></p>
                </div>
            </div>
            <div id="modesOnline">
                <h1 id="modesOnlineHeader"></h1>
                <div class="modeClass" id="modeDuelDiv">
                    <button class="modeSelectionButton" id="modeDuelButton">
                        <img id="duelImg" src="{% static 'images/duelImage.webp' %}">
                    </button>
                    <p id="modeDuelText"></p>
                </div>
                <div class="modeClass" id="mode2v2Div">
                    <button class="modeSelectionButton" id="mode2v2Button">
                        <img id="2v2Img" src="{% static 'images/2v2Image.webp' %}">
                    </button>
                    <p id="2v2Text"></p>
                </div>
                <div id="spectateButtonDiv">
                    <button class="buttonSpectate" id="buttonSpectate"></button>
                </div>
            </div>
            <button class="buttonCancel" id="modeBackButton"></button>
        </div>

        <div id="listSpectateDivPanel">
            <div id="closeListSpectatePanel"></div>
            <div id="listSpectatePanel">
                <div id="spectateList">
                    
                </div>
            </div>
        </div>
    </div>

    <!------------------------------ Rules Selection ------------------------------>
    <div id="rules" class="page">
        <h2 class="headerText" id="rulesHeaderText"></h2>
        <div id="rulesPanel">
            <div class="ruleTextDiv" id="rulesPoints">
                <h1 id="rulesPointsText"></h1>
                <input type="text" id="rulesPointsInput" placeholder="3" value="3" min="0" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
            <div class="ruleTextDiv" id="rulesTimer">
                <h1 id="rulesTimerText"></h1>
                <input type="text" id="rulesTimerInput" placeholder="0" value="0" min="0" maxlength="3" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
            <div class="ruleTextDiv" id="rulesMaxPlayers">
                <h1 id="rulesMaxPlayersText"></h1>
                <input type="text" id="rulesMaxPlayersInput" placeholder="0" value="0" min="0" maxlength="2" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            </div>
            <div class="ruleTextDiv" id="rulesIsPrivate">
                <h1 id="rulesIsPrivateText"></h1>
                <button id="rulesIsPrivateToggle">
                    <img id="imgIsPrivate" src="{% static 'icons/unchecked.webp' %}">
                </button>
            </div>
            <div id="rulesArenaType">
                <h1 id="rulesArenaText"></h1>
                <div id="arenas">
                    <button class="arena" id="rulesArenaTypeCave">
                        <img src="{% static 'images/arenaCave.webp' %}">
                    </button>
                    <button class="arena" id="rulesArenaTypeSpace">
                        <img src="{% static 'images/arenaSpace.webp' %}">
                    </button>
                </div>
            </div>
            <div id="buttonsRules">
                <button class="buttonAccept" id="buttonAcceptRules"></button>
                <button class="buttonCancel" id="buttonCancelRules"></button>
            </div>
        </div>
    </div>

    <!------------------------------ Duel Panel ------------------------------>
    <div id="duel" class="page">
        <h2 class="headerText" id="duelHeaderText"></h2>
        <img id="thunderImg" src="{% static 'images/thunder.webp' %}">
        <img id="vsImg" src="{% static 'images/vs.webp' %}">
        <div id="duelPanel">
            <div id="playersDuel">
                <img id="helpRulesDuel" src="{% static 'icons/helpIcon.webp' %}">
                <div id="player1Duel">
                    <p id="player1NameDuel"></p>
                    <img id="player1ImgDuel" src="{% static 'icons/playerNoImg.webp' %}">
                    <p id="fakewaiting"> </p>
                    <button id="ready1DuelButton"></button>
                </div>
                <div id="player2Duel">
                    <p id="player2NameDuel"></p>
                    <img id="player2ImgDuel" src="{% static 'icons/playerNoImg.webp' %}">
                    <p id="waitingForPlayer"></p>
                    <button id="ready2DuelButton"></button>
                </div>
            </div>
            <div id="buttonsDuel">
                <!-- <button class="buttonAccept" id="startDuelButton"></button> -->
                <button class="buttonCancel" id="leaveDuelButton"></button>
            </div>
        </div>
        <div id="helpRulesTextPanel">
            <h2 id="helpRulesTitle"></h2>
            <p id="helpRulesText"></p>
        </div>
    </div>

    <!------------------------------ Tournament Lobby Panel ------------------------------>
    <div id="tournament-lobby" class="page">
        <h2 class="headerText" id="tournamentLobbyHeaderText"></h2>
        <div id="tournamentLobbyPanel">
            <div id="listPlayers">
                <div class="listPlayersTournament" id="listPlayersTournament"></div>
                <p id="nbrPlayersTournament"></p>
                <button id="addPlayerTournament"></button>
            </div>
            <button class="buttonAccept" id="startTournamentButton"></button>
            <button class="buttonCancel" id="cancelTournamentLobbyButton"></button>
            <div id="addPlayerTournamentPanel">
                <input type="text" class="inputfield" id="inputAddPlayer" maxlength="20" placeholder="Player name...">
                <div id="buttonsAddPlayerTournament">
                    <button class="buttonAccept" id="confirmAddPlayerButton"></button>
                    <button class="buttonCancel" id="cancelAddPlayerButton"></button>
                </div>
            </div>
        </div>
    </div>
    <div id="tournamentMatchsCanvas">
        <div id="tournamentViewButtons">
            <button class="buttonAccept" id="startMatchTournamentButton"></button>
            <button class="buttonCancel" id="cancelMatchTournamentButton"></button>
        </div>
    </div>
    <div id="tournamentWinVictory">
        <h1 id="tournamentWinVictoryText"></h1>
        <button class="buttonAccept" id="closeTournamentVictoryButton"></button>
    </div>
    <div id="askBackTournamentViewPanel">
        <h1 id="tournamentAskBackText"></h1>
            <button class="buttonAccept" id="confirmBackTournamentButton"></button>
            <button class="buttonCancel" id="cancelBackTournamentButton"></button>
    </div>

    <!------------------------------ ChoosePaddle ------------------------------>
    <div id="choosePaddlePanel">
        <h1 id="choosePaddleText"></h1>
        <div id="choosePaddleList">
            <button class="paddleListItem" id="choosePaddle1Button">
                <img class="paddleInList" id="choosePaddle1" src="{% static 'images/paddle1Img.webp' %}" data-index="1">
            </button>
            <button class="paddleListItem" id="choosePaddle2Button">
                <img class="paddleInList" id="choosePaddle2" src="{% static 'images/paddle2Img.webp' %}" data-index="2">
            </button>
    </div>
    </div>

    <!------------------------------ Waiting... ------------------------------>
    <div id="waitingMatch">
        <h1 id="waitingMatchText"></h1>
    </div>


    <!------------------------------ In Game UI ------------------------------>
    <p id="loading"></p>
    <div id="pressPlayDiv">
        <div id="pressplay"></div>
        <div class="glitch" id="play"></div>
    </div>
    <div id="scores">
        <p id="timer"></p>
        <div id="scorediv">
            <div id="playername-left"></div>
            <div id="score-left">0</div>
            <div id="score-right">0</div>
            <div id="playername-right"></div>
        </div>
    </div>
    <div id="controlsP1">
        <div id="boostBarUILeft">
            <div id="boostBarLeft">
                <img id="boostBarBgLeft" src="{% static 'images/boostBarBg.webp' %}" alt="">
                <img id="boostBarFillLeft" src="{% static 'images/boostBarFill.webp' %}" alt="">
            </div>
            <p id="pressBoostTextLeft"></p>
        </div>
        <img src="{% static 'images/controlsP1Local.webp' %}" id="controlsP1LocalImg" />
    </div>
    <div id="controlsP2">
        <div id="boostBarUIRight">
            <div id="boostBarRight">
                <img id="boostBarBgRight" src="{% static 'images/boostBarBg.webp' %}" alt="">
                <img id="boostBarFillRight" src="{% static 'images/boostBarFill.webp' %}" alt="">
            </div>
            <p id="pressBoostTextRight"></p>
        </div>
        <img src="{% static 'images/controlsP2Local.webp' %}" id="controlsP2LocalImg" />
    </div>

    <!------------------------------ In Game Side Menu Panel ------------------------------>
    <div id="gameMenuPanel">
        <div id="menu-label">
            <span>M</span>
            <span>E</span>
            <span>N</span>
            <span>U</span>
        </div>
        <button class="gameMenuButton" id="profileButton"></button>
        <button class="gameMenuButton" id="settingsButton"></button>
        <button class="gameMenuButton" id="reinitLevelButton"></button>
        <button class="gameMenuButton" id="mainButton"></button>
    </div>
    <div id="overlay"></div>
    <!------------------------------ Mini Profile Panel ------------------------------>
    <div id="miniProfilePanel">
        <div id="miniProfileInfos">
            <div id="miniProfilePictureDiv">
                <img src="{% static 'icons/guestUser.webp' %}" id="miniProfilePicture" alt="">
                <h2 id="nameMiniProfile"></h2>
            </div>
            <p id="firstNameMiniProfile"></p>
            <p id="lastNameMiniProfile"></p>
            <div id="scoresMiniPanel">
                <div id="scoreTotalMiniPanel" class="scoreMiniPanel">
                    <p id="matchsPlayedMiniProfile"></p>
                    <p id="matchsPlayedMiniProfileValue"></p>
                </div>
                <div id="scoreVictoriesMiniPanel" class="scoreMiniPanel">
                    <p id="winsMiniProfile"></p>
                    <p id="winsMiniProfileValue"></p>
                </div>
            </div>
        </div>
        <button id="closeMiniProfileButton"></button>
    </div>

    <!------------------------------ Profile Panel ------------------------------>
    <div id="profilePanel">
        <div id="headerButtonsProfile">
            <div id="headerMainProfileButton" class="headerProfileButton"></div>
            <div id="headerMatchsProfileButton" class="headerProfileButton"></div>
        </div>
        <div id="profileInfos">
            <div id="headerProfile">
                <div id="profilePictureDiv">
                    <img src="{% static 'icons/guestUser.webp' %}" id="profilePicture" alt="">
                    <form id="uploadForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="button" id="customButton">Choose File</button>
                        <input type="file" id="fileInput" accept="image/*" />
                        <button id="submitButton" type="submit">Upload</button>
                    </form>
                    <div id="status"></div>
                    <!-- <form action="" id="profile-form" method="POST" enctype="multipart/form-data">
                        <input type="file" name="fileInput" id="fileInput" accept="image/*" />
                        <button type="submit" id="profilePictureChangeButton" class="profilePictureChangeButton"></button>
                    </form> -->
                </div>
                <h2 id="nameProfile"></h2>
            </div>
            <div id="mainProfileInfos">
                <p id="firstNameProfile"></p>
                <p id="lastNameProfile"></p>
                <div id="profileContainer">
                    <img id="mailImg" src="{% static 'icons/mail.webp' %}">
                    <p id="mailProfile"></p>
                </div>
            </div>
            <div id="deleteProfile">
                <button id="deleteProfileButton">
                </button>
            </div>
        </div>
        <div id="profileStats">
            <div id="statsContainer">
                <div id="profileTotalContainer" class="scoreMiniPanel">
                    <p id="matchesPlayed"></p>
                    <p id="matchesPlayedNbr"></p>
                </div>
                <div id="profileStatsContainer" class="scoreMiniPanel">
                    <p id="victories"></p>
                    <p id="victoriesNbr"></p>
                </div>
            </div>
            <div id="matchListPanel">
            </div>
        </div>
        <button id="closeProfileButton"></button>
    </div>

    <!------------------------------ Settings Panel ------------------------------>
    <div id="settingsPanel">
        <h2 id="settingsHeader"></h2>
        <p id="colors"></p>
        <div id="optionsColors">
            <button class="colorize-btn" id="color1Button" data-color="white" data-index="0"></button>
            <button class="colorize-btn" id="color2Button" data-color="#ff00ff" data-index="1"></button>
            <button class="colorize-btn" id="color3Button" data-color="#ffbb00" data-index="2"></button>
            <button class="colorize-btn" id="color4Button" data-color="#ff0000" data-index="3"></button>
            <button class="colorize-btn" id="color5Button" data-color="#08ec00" data-index="4"></button>
            <button class="colorize-btn" id="color6Button" data-color="#003fff" data-index="5"></button>
        </div>
        <p id="language"></p>
        <div id="optionsLanguages">
            <button class="language" id="lang1Button" data-language="en" data-lang="0">
                <img src="{% static 'icons/lang-en.webp' %}" id="lang-icon-en" />
            </button>
            <button class="language" id="lang2Button" data-language="fr" data-lang="1">
                <img src="{% static 'icons/lang-fr.webp' %}" id="lang-icon-fr" />
            </button>
        </div>
        <p id="cameraTypeHeader"></p>
        <div id="cameraType">
            <button id="perspectiveButton" class="cameraTypeSettings">
                <img src="{% static 'icons/cameraPerspective.webp' %}" id="perspecImg" alt="">
            </button>
            <button id="orthographicButton" class="cameraTypeSettings">
                <img src="{% static 'icons/cameraOrthographic.webp' %}" id="orthoImg" alt="">
            </button>
        </div>
        <button id="closeSettingsButton"></button>
    </div>

    <!------------------------------ Victory Panel ------------------------------>
    <div id="victory">
        <div id="victoryPanel">
            <img id="victoryImg" alt="">
            <h2 id="victoryText"></h2>
            <button id="closeVictoryButton"></button>
        </div>
    </div>

    <div id="boxContainers">
        <!------------------------------ Chat Box ------------------------------>
        <div class="chat-box shrunk hide-elements" id="chatBox">
            <button id="toggleSizeButton">
                <img src="{% static 'icons/chatIcon.webp' %}" id="toggleIcon"/>
            </button>
            <div class="messages" id="messages">
            </div>
            <div class="input-container" id="inputContainer">
                <input type="text" id="inputChat" placeholder="...">
                <button id="sendButton">
                    <img src="{% static 'icons/send.webp' %}" class="button-send-img" />
                </button>
            </div>
            <div id="overlayChat">
                <p id="connectToChat"></p>
            </div>
        </div>
        <div id="stickers-container">
            <img id="sticker0" class="sticker-chat" src="{% static 'stickers/sticker_angry.webp' %}" data-name="sticker_angry" alt="">
            <img id="sticker1" class="sticker-chat" src="{% static 'stickers/sticker_happy.webp' %}" data-name="sticker_happy" alt="">
            <img id="sticker2" class="sticker-chat" src="{% static 'stickers/sticker_cool.webp' %}" data-name="sticker_cool" alt="">
            <img id="sticker3" class="sticker-chat" src="{% static 'stickers/sticker_laugh.webp' %}" data-name="sticker_laugh" alt="">
            <img id="sticker4" class="sticker-chat" src="{% static 'stickers/sticker_love.webp' %}" data-name="sticker_love" alt="">
            <img id="sticker5" class="sticker-chat" src="{% static 'stickers/sticker_puke.webp' %}" data-name="sticker_puke" alt="">
            <img id="sticker6" class="sticker-chat" src="{% static 'stickers/sticker_sad.webp' %}" data-name="sticker_sad" alt="">
            <img id="sticker7" class="sticker-chat" src="{% static 'stickers/sticker_sleep.webp' %}" data-name="sticker_sleep" alt="">
            <img id="sticker8" class="sticker-chat" src="{% static 'stickers/sticker_tongue_wink.webp' %}" data-name="sticker_tongue_wink" alt="">
            <img id="sticker9" class="sticker-chat" src="{% static 'stickers/sticker_trash.webp' %}" data-name="sticker_trash" alt="">
        </div>
    
        <!------------------------------ Friends Box ------------------------------>
        <div class="friends-box shrunk hide-elements" id="friendsBox">
            <button id="toggleSizeButtonFriends">
                <img src="{% static 'icons/friendsIcon.webp' %}" id="toggleIconFriends"/>
            </button>
            <h1 class="friendsHeader" id="friendsHeader"></h1>
            <div class="friendsListParent" id="friendsListParent">
                <div id="friendsList">

                </div>
                <div id="blockedList"></div>
            </div>
        </div>
    </div>
    <div id="chatContextMenu">
        <div id="spaceContextMenu">
            <button class="contextMenuButton" id="sendMessageButton"></button>
            <button class="contextMenuButton" id="sendStickerButton"></button>
            <button class="contextMenuButton" id="addFriendButton"></button>
            <button class="contextMenuButton" id="inviteGameButton"></button>
            <button class="contextMenuButton" id="seeProfileButton"></button>
            <button class="contextMenuButton" id="blockUserButton"></button>
        </div>
    </div>

    <!------------------------------ Registering Panel ------------------------------>
    <div id="registering" class="page">
        <div id="registeringpanel">
            {% csrf_token %}
            <div id="registeringPanel">
                <div id="askSignInDiv">
                    <p id="askSignInText"></p>
                    <a href="#" id="askSignIn" class="statusBusy"></a>
                </div>
                <h1 class="regItem" id="registerHeader"></h1>
                <div class="regItem">
                    <p id="registerName"></p>
                    <input type="text" class="inputfield" id="inputName" maxlength="20" placeholder="...">
                    <p class="registerErrorMessage" id="registerErrorName"></p>
                </div>
                <div class="regItem">
                    <p id="registerFirstName"></p>
                    <input type="text" class="inputfield" id="inputFirstName" maxlength="20" placeholder="...">
                    <p class="registerErrorMessage" id="registerErrorFirstName"></p>
                </div>
                <div class="regItem">
                    <p id="registerLastName"></p>
                    <input type="text" class="inputfield" id="inputLastName" maxlength="20" placeholder="...">
                    <p class="registerErrorMessage" id="registerErrorLastName"></p>
                </div>
                <div class="regItem">
                    <p id="registerMail"></p>
                    <input type="text" class="inputfield" id="inputMail" maxlength="20" placeholder="...">
                    <p class="registerErrorMessage" id="registerErrorMail"></p>
                </div>
                <div class="regItem">
                    <p id="registerPassword"></p>
                    <div id="passwordDiv">
                        <input type="password" class="inputfield" id="inputPassword" maxlength="20" placeholder="...">
                        <img id="showPasswordButton" src="{% static 'icons/eyeOpen.webp' %}" alt="">
                    </div>
                    <p class="registerErrorMessage" id="registerErrorPassword"></p>
                </div>
                <div class="regItem">
                    <p id="registerConfirmPassword"></p>
                    <div id="confirmPasswordDiv">
                        <input type="password" class="inputfield" id="inputConfirmPassword" maxlength="20" placeholder="...">
                        <img id="showConfirmPasswordButton" src="{% static 'icons/eyeOpen.webp' %}" alt="">   
                    </div>
                    <p class="registerErrorMessage" id="registerErrorConfirmPassword"></p> 
                </div>
                <div class="regItem">
                    <label class="consent-label" id="consentText">
                        <input type="checkbox" class="checkboxGdpr" id="checkboxGdpr" name="consent" required>
                        <span id="consent-text"></span>
                    </label>
                </div>
                <div id="regButtons">
                    {% csrf_token %}
                    <button class="regButton" id="registerConfirm"></button>
                    <button class="regButton" id="registerCancel"></button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------ Sign In Panel ------------------------------>
    <div id="signIn" class="page">
        <div id="signinpanel">
            <div id="signInPanel">
                <div id="askRegisterDiv">
                    <p id="askRegisterText"></p>
                    <a href="#" id="askRegister" class="statusBusy"></a>
                </div>
                <h1 class="regItem" id="signInHeader"></h1>
                <div class="regItem">
                    <p id="signInName"></p>
                    <input type="text" class="inputfield" id="inputSignInName" maxlength="20" placeholder="...">
                    <p class="registerErrorMessage" id="signInErrorName"></p>
                </div>
                <div class="regItem">
                    <p id="signInPassword"></p>
                    <div id="passwordSignInDiv">
                        <input type="password" class="inputfield" id="inputSignInPassword" maxlength="20" placeholder="...">
                        <img id="showSignInPasswordButton" src="{% static 'icons/eyeOpen.webp' %}" alt="">
                    </div>
                    <p class="registerErrorMessage" id="signInErrorPassword"></p>
                </div>
                <div id="signInButtons">
                    <button class="signInButton" id="signInConfirm"></button>
                    <button class="signInButton" id="signInCancel"></button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlayGdpr">
        <div id="gdprPanel">
            <p id="gdprText"></p>
            <button class="regButton" id="gdprBack"></button>
        </div>
    </div>

</body>
</html>